<!doctype html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Reverse Metronome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Mailbox">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>
<body>

<div class="container">
    <div ng-controller="MainCtrl as $ctrl" ng-cloak>

        <div ng-if="$ctrl.mode=='init'">
            <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.onStart()">Start</button>
        </div>
        <div ng-if="$ctrl.mode=='measure'">
            <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.onMeasure()">Stop</button>
            <h1> Duration: {{$ctrl.timeSinceLastPress / 1000 | number:1}} s</h1>
        </div>

        <div ng-if="$ctrl.mode=='play'">
            <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.onReset()">Reset</button>
            <h1> Interval: {{$ctrl.interval / 1000 | number:1}} s</h1>

            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     style="width: {{$ctrl.progressPercent}}%">
                </div>
            </div>
        </div>


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autolinker/1.2.0/Autolinker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.4/chance.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js"></script>
<script src="angular-stickyfill-0.1.0/angular-stickyfill.js"></script>
<script src="index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.js"></script>


<br><br><br><br><br><br><br><br><br>
<div>sound by <a href="http://soundbible.com/2044-Tick.html">DeepFrozenApps</a></div>
</body>
</html>