<!doctype html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Reverse Metronome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Reverse Metronome">

    <style>
        .progress .progress-bar {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div ng-controller="MainCtrl as $ctrl" ng-cloak>

        <div ng-if="$ctrl.mode=='init'">
            <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.onStart()">Start</button>
        </div>
        <div ng-if="$ctrl.mode=='measure'">
            <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.onMeasure()">Stop</button>
            <h1> Duration: {{$ctrl.timeSinceLastPress / 1000 | number:1}} s</h1>
        </div>

        <div ng-if="$ctrl.mode=='play'">
            <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.onReset()">Reset</button>
            <h1> Interval: {{$ctrl.interval / 1000 | number:1}} s</h1>

            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     style="width: {{$ctrl.progressPercent}}%">
                </div>
            </div>
        </div>


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="index.js"></script>

</body>
</html>