<!doctype html>
<html lang="de" ng-app="app" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Reverse Metronome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Reverse Metronome">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        .progress .progress-bar {
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: none;
        }
    </style>
</head>
<body>
<div class="container" ng-controller="MainCtrl as $ctrl" ng-cloak>

    <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.onMeasure()">Tap to record a beat</button>

    <br/>
    <span ng-if="$ctrl.lastPressedBeat && $ctrl.diffs.length == 0">Tap again to start</span>

    <div ng-if="$ctrl.interval">
        <h1> Average: {{$ctrl.interval / 1000 | number:2}} s</h1>

        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 style="width: {{$ctrl.progressPercent}}%">
            </div>
        </div>

        <button type="button" class="btn btn-danger btn-lg" ng-click="$ctrl.onReset()">Stop</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.core.min.js"></script>
<script src="index.js"></script>
</body>
</html>